.privacy {
  padding-bottom: 140px;
}

.privacy__title {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #18191C;
  margin: 0;
  margin-bottom: 40px;
}

.privacy__descr-title {
  font-weight: 600;
font-size: 14px;
line-height: 147%;
color: #18191C;
opacity: 0.7;
margin: 0;
margin-bottom: 20px;
}

.privacy__descr {
  margin: 0;
  font-weight: 400;
font-size: 14px;
line-height: 147%;
color: #18191C;
opacity: 0.7;
margin-bottom: 20px;
}
